@font-face {
  font-family: 'AppbarFont';
  src: local('AppbarFont'), url(../fonts/appbar.otf) format('opentype');
}

.appbar {
  font-family: AppbarFont, Roboto;
  text-transform: uppercase;
  font-size: 2em;
  margin: 0;
  padding: 0;

  position: absolute;
  display: flex;
  flex-direction: row;
}

.appbar img {
  height: 1.5em;
}