.CenterWrapper {
  flex-direction: column;
}

@font-face {
  font-family: 'HeaderFont';
  src: local('HeaderFont'), url(../fonts/header.otf) format('opentype');
}


h1 {
  font-size: 4em;
  margin: 0;
  font-family: HeaderFont, Roboto;
  text-transform: uppercase;
}

.result-text {
  font-weight: bold;
  font-size: 1.2em;
}