.button {
  font-size: 1.2em;
  border-radius: 100vw;
  border: none;
  background-color: #FFFFFF;
  padding: 0.7em 0;
  width: 10em;
  transition-duration: 0.5s;
  cursor: pointer;

  min-width: 50px;
  min-height:30px;
  margin: 1rem 0;
}

.btn-text {
  background: linear-gradient(180deg, #13B136 0%, #0A5E82 100%);
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.progress-btn {
  width: 75vw;
  padding: 0;
}