.button {
  font-size: 1.2em;
  border-radius: 100vw;
  border: none;
  background-color: #FFFFFF;
  padding: 0.7em 0;
  width: 10em;
  transition-duration: 0.5s;
  cursor: pointer;

  min-width: 50px;
  min-height:30px;
  margin: 1rem 0;
}

.btn-text {
  background: linear-gradient(180deg, #13B136 0%, #0A5E82 100%);
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.progress-btn {
  width: 75vw;
  padding: 0;
}





/* CSS Spinner */





.spinner {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  z-index: 2;
  width: 50px;
  height: 50px;
}
.spinner .path {
  stroke: #fff;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}