body {
  background: linear-gradient(180deg, rgba(19, 177, 54, 0.8) 0%, rgba(10, 94, 130, 0.8) 100%);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
